<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>List of Videos</title>
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="/lister.css">
  <link rel="icon" type="image/png" href="/logo.png" />
</head>

<body>
  <div id="navbar"></div>
  <h1>Videos</h1>

  <% if (videos.length> 0) { %>
    <div class="video-container">
      <% videos.forEach((video)=> { %>
        <a href="/videos/<%= video._id %>" class="video-link">
          <div class="video-item">
            <div class="video-info">
              <strong>Title:</strong>
              <%= video.videoName %> <br />
                <strong>Uploader:</strong>
                <%= video.uploaderName %> <br />
                  <strong>Date of Upload:</strong>
                  <%= video.dateOfUpload %> <br />
                    <strong>Views:</strong>
                    <%= video.views %> <br />
            </div>
          </div>
        </a>
        <% }); %>
    </div>
    <% } else { %>
      <br><br>
      <h3>No videos available.</h3>
      <% } %>

      <script src="/navbar.js"></script>
</body>

</html>